* {
  background-color: #DAFFFB;
  color: #04364A;
}

h1.title{
    color: #04364A;
    font-size: 50px;
    padding: 25px;
    position: fixed;
    margin: 0;
    top: 0;
    left: 18%;
    width: 60%;
    height: 50px;
    border: 5px solid #04364A;
    border-radius: 30px;
    white-space: nowrap;
    min-width: 550px;
    text-align: center;
  }

h2 {
    font-size: 45px;
    text-align: center;
}

body {
  margin-top: 150px;
  font-family: monospace;
}

img {
  padding: 5px;
  border: 5px solid #64CCC5;
  border-radius: 40px;
  margin: 10px;
  width: 300px;

}

.paragraph p {
  margin-left: 200px;
  margin-right: 200px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  min-width: 800px;
}

p {
  font-size: 25px;
  text-align: center;
}

.welcome {
  font-size: 35px;
  text-align: center;
}

#team-pic {
  width: 800px;
  margin-left: 200px;
  margin-right: 200px;
}

.bottom-link {
  text-align: center;
}

.profiles-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.profiles-flex-container div{
  padding: 40px 20px;
  text-align: center;
}

.profile-title-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.profile-title-flex-container img{
  width: auto;
  height: 250px;
  margin: 10px 75px;
}

.headshots-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.headshots-flex-container * {
  margin: 10px;;
}

a.styled-link:link {
  color: #DAFFFB;
  background-color: #176B87;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
}

a.styled-link:visited {
  color: #DAFFFB;
  background-color: #176B87;
  text-decoration: none;
}

a.styled-link:hover {
  color: #176B87;
  background-color: #DAFFFB;
  border: 2px solid #176B87;
}

a.styled-link:active {
  color: #176B87;
  background-color: #DAFFFB;
  border: 2px solid #176B87;
}


